<% unless @alert %>
  <div class="container">
    <%= render 'layouts/pager'%>
    <% @response.body['tickets'].each do |ticket| %>
    <div class="well">
      <h1><%= ticket['subject'] %></h1>
      <div>
        <div class="<%="#{ticket['priority']}"%>">
          <h3><%= "Priority: #{(ticket['priority'] || "N/A").upcase}" %></h3>
        </div>
        <div class="<%= "#{ticket['status']}" %>">
          <h4><%= "Status: #{(ticket['status'] || "N/A").upcase}" %></h4>
        </div>
        <div class="btn-group">
          <a href=<%= "#{ENV['ZENDESK_URL']}/agent/tickets/#{ticket['id']}" %> target="_blank" class="btn btn-default" role="button">Source</a>
          <a href=<%= zendesk_show_ticket_path(ticket['id']) %> class="btn btn-primary" role="button">More Information</a>
        </div> 
      </div>
    </div>
    <% end %>
    <%= render 'layouts/pager'%>
  </div>
<% end %>
