<% unless @alert %>
  <div class="container">
    <%= render "layouts/back_button" %>
    <% unless @response.body.nil? %>
      <div class="well">
        <% unless @response.body['ticket'].nil? %>
          <%= render "zendesk/show_ticket/type_priority_status", content: @response.body['ticket'] %>
          <%= render "zendesk/show_ticket/tags", content: @response.body['ticket']['tags'] %>
          <%= render "zendesk/show_ticket/subject", content: @response.body['ticket'] %>
          <%= render "zendesk/show_ticket/description", content: @response.body['ticket'] %>
          <%= render "zendesk/show_ticket/via", content: @response.body['ticket']['via'] %>
          <%= render "zendesk/show_ticket/information", content: @response.body['ticket'] %>
          <%= render "zendesk/show_ticket/source", content: @response.body['ticket'] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
