<div class="row">
  <div class="col-xs-6">
    <p>
      <%= title %>
    </p>
  </div>
  <div class="col-xs-6">
    <p>
      <% if content %>
        <span class="glyphicon glyphicon-ok" style="color:green"></span>
      <% else %>
        <span class="glyphicon glyphicon-remove" style="color:red"></span>
      <% end %>
    </p>
  </div>
</div>