<div class="row">
  <div class="col-xs-6">
    <p>
      <%= title %>
    </p>
  </div>
  <div class="col-xs-6">
    <% if content.empty? %>
      <span class="label label-default">N/A</span>
    <% else %>
      <% content.each do |x| %>
        <span class="label label-default"><%= x %></span>
      <% end %>
    <% end %>
  </div>
</div>