<h3>Information</h3>
<div class="well">
  <%= render "zendesk/show_ticket/content_type/id", title: "ID:", content: content['id'] %>
  <%= render "zendesk/show_ticket/content_type/id", title: "External ID:", content: content['external_id'] %>
  <%= render "zendesk/show_ticket/content_type/id", title: "Brand ID:", content: content['brand_id'] %>
  <%= render "zendesk/show_ticket/content_type/string", title: "Created At:", content: content['created_at'] %>
  <%= render "zendesk/show_ticket/content_type/string", title: "Updated At:", content: content['updated_at'] %>
  <%= render "zendesk/show_ticket/content_type/string", title: "Due At:", content: content['due_at'] %>
  <%= render "zendesk/show_ticket/content_type/string", title: "Satisfaction Rating:", content: content['satisfaction_rating'] %>
  <%= render "zendesk/show_ticket/content_type/string", title: "Recipient:", content: content['receipient'] %>
  <%= render "zendesk/show_ticket/content_type/id", title: "Requester ID:", content: content['requester_id'] %>
  <%= render "zendesk/show_ticket/content_type/id", title: "Submitter ID:", content: content['submitter_id'] %>
  <%= render "zendesk/show_ticket/content_type/id", title: "Assignee ID:", content: content['assignee_id'] %>
  <%= render "zendesk/show_ticket/content_type/id", title: "Organization ID:", content: content['organization_id'] %>
  <%= render "zendesk/show_ticket/content_type/id", title: "Group ID:", content: content['group_id'] %>
  <%= render "zendesk/show_ticket/content_type/ids", title: "Collaborator IDs:", content: content['collaborator_ids'] %>
  <%= render "zendesk/show_ticket/content_type/ids", title: "Follower IDs:", content: content['follower_ids'] %>
  <%= render "zendesk/show_ticket/content_type/ids", title: "Email CC IDs:", content: content['email_cc_ids'] %>
  <%= render "zendesk/show_ticket/content_type/ids", title: "Followup IDs:", content: content['followup_ids'] %>
  <%= render "zendesk/show_ticket/content_type/ids", title: "Sharing Agreement IDs:", content: content['sharing_agreement_ids'] %>
  <%= render "zendesk/show_ticket/content_type/id", title: "Forum Topic ID:", content: content['forum_topic_id'] %>
  <%= render "zendesk/show_ticket/content_type/id", title: "Problem ID:", content: content['problem_id'] %>
  <%= render "zendesk/show_ticket/content_type/fields", title: "Custom Fields:", content: content['custom_fields'] %>
  <%= render "zendesk/show_ticket/content_type/fields", title: "Fields:", content: content['fields'] %>
  <%= render "zendesk/show_ticket/content_type/boolean", title: "Has Incidents:", content: content['has_incidents'] %>
  <%= render "zendesk/show_ticket/content_type/boolean", title: "Is Public:", content: content['is_public'] %>
  <%= render "zendesk/show_ticket/content_type/boolean", title: "Allow Channelback:", content: content['allow_channelback'] %>
  <%= render "zendesk/show_ticket/content_type/boolean", title: "Allow Attachments:", content: content['allow_attachments'] %>
</div>
