<% unless content.nil? %>
  <h3>Via</h3>
  <div class="well">
    <%= render "zendesk/show_ticket/content_type/string", title: "Channel:", content: content['channel'] %>   
    <div class="row">
      <div class="col-xs-6">
        <p>
          Source
        </p>
      </div>
      <div class="col-xs-6">
        <% unless content['source'].nil? %>
          <div class="well">
            <%= render "zendesk/show_ticket/content_type/string", title: "From:", content: content['source']['from'] %>
            <%= render "zendesk/show_ticket/content_type/string", title: "To:", content: content['source']['to'] %>
            <%= render "zendesk/show_ticket/content_type/string", title: "Rel:", content: content['source']['rel'] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>