<div class="row">
  <div class="col-xs-12 text-center">
    <div class="well">
      <h1>Contact Details</h1>
      <div class="row">
        <div class="col-xs-6 text-right">
          Name:
        </div>
        <div class="col-xs-6 text-left">
          Alvin See
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 text-right">
          Mobile:
        </div>
        <div class="col-xs-6 text-left">
          0401639021
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 text-right">
          Email:
        </div>
        <div class="col-xs-6 text-left">
          alvin.see.hl@gmail.com
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 text-right">
          Address:
        </div>
        <div class="col-xs-6 text-left">
          3502/1 Balston Street,<br>
          Southbank 3006 Victoria,<br>
          Australia
        </div>
      </div>
    </div>
  </div>
</div>
