@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

#background {
  // background-image:url(zendesk-medium.svg);
  background-color: rgba(0, 0, 0, 0.9);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.content {
  background-color: rgba(203, 215, 215, 1);
  color: rgba(0, 0, 0, 1);
}

.footer {
  width:100%;
  min-height:60px;
  background-color: #DECBA4;
}

// priority
.urgent {
  color: #a94442;
  font-style: oblique;
}

.high {
  color: #8a6d3b;
  font-style: oblique;
}

.normal {
  color: #31708f;
  font-style: oblique;
}

.low {
  color: #777;
  font-style: oblique;
}

// status
.new {
  color: #d9534f;
  font-style: oblique;
}

.open {
  color: #f0ad4e;
  font-style: oblique;
}

.pending {
  color: #5bc0de;
  font-style: oblique;
}

.hold {
  color: #337ab7;
  font-style: oblique;
}

.solved {
  color: #5cb85c;
  font-style: oblique;
}

.closed {
}

// priority_bullet
.btn-urgent {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}

.btn-high {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}

.btn-normal {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}

.btn-low {
  color: #fff;
  background-color: #777;
  border-color: #777;
}

// status_bullet
.btn-new {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-open {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-pending {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-hold {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-solved {
  color: #5cb85c;
  font-style: oblique;
}

.btn-closed {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#tags {
  padding-top: 5px;
}

.error-content {
  background-color: beige;
  color: black;
}
