<footer class="footer navbar-fixed-bottom">
  <div class="footer-copyright text-center py-3">
    <a href=<%= "#{ENV['ZENDESK_URL']}/auth/v2/login/signin" %>><%= image_tag "zendesk-wordmark.svg", size: 80 %></a>
  </div>
</footer>
